In [1]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

In [13]:
user='root'
password='Elon2003'
conn_str = f'mysql+pymysql://{user}:{password}@localhost:3306/test_1'
db_connection=create_engine(conn_str)
print(db_connection)

Engine(mysql+pymysql://root:***@localhost:3306/test_1)

In [14]:
data={"channel_names":[1,2],"subscriber":[125345,546789],"no_of_video":[29,50]}

In [15]:
df=pd.DataFrame(data)
df

   channel_names  subscriber  no_of_video
0              1      125345           29
1              2      546789           50

In [16]:
df.to_sql('youtubers_datas', con=db_connection, index=False, if_exists='replace')

In [3]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 431 kB/s eta 0:00:011
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Note: you may need to restart the kernel to use updated packages.

In [13]:
import seaborn
import pandas as pd

In [3]:
df=seaborn.load_dataset('iris')

In [4]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [24]:
d=df.to_json("Krish_naik.json")

In [25]:
df1 = pd.read_json("Krish_naik.json")
df1

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [17]:
for i in df.values.tolist():
    print(i[0],i[1])

5.1 3.5
4.9 3.0
4.7 3.2
4.6 3.1
5.0 3.6
5.4 3.9
4.6 3.4
5.0 3.4
4.4 2.9
4.9 3.1
5.4 3.7
4.8 3.4
4.8 3.0
4.3 3.0
5.8 4.0
5.7 4.4
5.4 3.9
5.1 3.5
5.7 3.8
5.1 3.8
5.4 3.4
5.1 3.7
4.6 3.6
5.1 3.3
4.8 3.4
5.0 3.0
5.0 3.4
5.2 3.5
5.2 3.4
4.7 3.2
4.8 3.1
5.4 3.4
5.2 4.1
5.5 4.2
4.9 3.1
5.0 3.2
5.5 3.5
4.9 3.6
4.4 3.0
5.1 3.4
5.0 3.5
4.5 2.3
4.4 3.2
5.0 3.5
5.1 3.8
4.8 3.0
5.1 3.8
4.6 3.2
5.3 3.7
5.0 3.3
7.0 3.2
6.4 3.2
6.9 3.1
5.5 2.3
6.5 2.8
5.7 2.8
6.3 3.3
4.9 2.4
6.6 2.9
5.2 2.7
5.0 2.0
5.9 3.0
6.0 2.2
6.1 2.9
5.6 2.9
6.7 3.1
5.6 3.0
5.8 2.7
6.2 2.2
5.6 2.5
5.9 3.2
6.1 2.8
6.3 2.5
6.1 2.8
6.4 2.9
6.6 3.0
6.8 2.8
6.7 3.0
6.0 2.9
5.7 2.6
5.5 2.4
5.5 2.4
5.8 2.7
6.0 2.7
5.4 3.0
6.0 3.4
6.7 3.1
6.3 2.3
5.6 3.0
5.5 2.5
5.5 2.6
6.1 3.0
5.8 2.6
5.0 2.3
5.6 2.7
5.7 3.0
5.7 2.9
6.2 2.9
5.1 2.5
5.7 2.8
6.3 3.3
5.8 2.7
7.1 3.0
6.3 2.9
6.5 3.0
7.6 3.0
4.9 2.5
7.3 2.9
6.7 2.5
7.2 3.6
6.5 3.2
6.4 2.7
6.8 3.0
5.7 2.5
5.8 2.8
6.4 3.2
6.5 3.0
7.7 3.8
7.7 2.6
6.0 2.2
6.9 3.2
5.6 2.8
7.7 2.8
6.3 2.7
6.7 3.3
7.2 3.2
6.2 2.8
6.1 3.0
6.4 2.8
7.2 3.0
7.4 2.8
7.9 3.8
6.4 2.8
6.3 2.8
6.1 2.6
7.7 3.0
6.3 3.4
6.4 3.1
6.0 3.0
6.9 3.1
6.7 3.1
6.9 3.1
5.8 2.7
6.8 3.2
6.7 3.3
6.7 3.0
6.3 2.5
6.5 3.0
6.2 3.4
5.9 3.0

In [43]:
import json

import pymongo
import logging

logging.basicConfig(filename='/home/aryan/Desktop/ineuron/youtube_project_challenge/scrapping.txt',level=logging.INFO,format='%(asctime)s -- %(filename)s -- %(message)s -- %(levelname)s')
logs = logging.getLogger()
def create_connection():
    try:
        logs.info("0")
        client = pymongo.MongoClient("mongodb+srv://aryan:Elon2003@cluster0.obq5u.mongodb.net/?retryWrites=true&w=majority")
        logs.info("mongodb-connection %s", client)
        return client
    except Exception as e:
        logs.exception(e)

def upload_comment_section(file_name):
    try:
        logs.info("1")
        print(1)
        drop_old_data(file_name)
        clients = create_connection()
        logs.info("%s", clients)
        print(clients)

        database = clients['youtube_scrapper']
        print(database)
        coll = database[file_name]
        logs.info("%s", coll)
        with open('{}.json'.format(file_name)) as file:
            file_data = json.load(file)
        coll.insert_many([file_data])
        logs.info("2")
        print(2)
    except Exception as e:
        logs.exception(e)
    finally:
        clients.close()

def drop_old_data(file_name):
    try:
        client = create_connection()
        database = client['youtube_scrapper']
        print(database)
        coll = database['{}'.format(file_name)]
        coll.drop()
        print(coll)
        logs.info("old data deleted")
    except Exception as e:
        logs.exception(e)
    finally:
        client.close()

In [44]:
print(upload_comment_section('Krish_naik'))

1
Database(MongoClient(host=['cluster0-shard-00-00.obq5u.mongodb.net:27017', 'cluster0-shard-00-02.obq5u.mongodb.net:27017', 'cluster0-shard-00-01.obq5u.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-bsj85u-shard-0', tls=True), 'youtube_scrapper')
Collection(Database(MongoClient(host=['cluster0-shard-00-00.obq5u.mongodb.net:27017', 'cluster0-shard-00-02.obq5u.mongodb.net:27017', 'cluster0-shard-00-01.obq5u.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-bsj85u-shard-0', tls=True), 'youtube_scrapper'), 'Krish_naik')
MongoClient(host=['cluster0-shard-00-00.obq5u.mongodb.net:27017', 'cluster0-shard-00-02.obq5u.mongodb.net:27017', 'cluster0-shard-00-01.obq5u.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-bsj85u-shard-0', tls=True)
Database(MongoClient(host=['cluster0-shard-00-00.obq5u.mongodb.net:27017', 'cluster0-shard-00-02.obq5u.mongodb.net:27017', 'cluster0-shard-00-01.obq5u.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-bsj85u-shard-0', tls=True), 'youtube_scrapper')
2
None

In [45]:
drop_old_data('Krish_naik')

Database(MongoClient(host=['cluster0-shard-00-00.obq5u.mongodb.net:27017', 'cluster0-shard-00-02.obq5u.mongodb.net:27017', 'cluster0-shard-00-01.obq5u.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-bsj85u-shard-0', tls=True), 'youtube_scrapper')
Collection(Database(MongoClient(host=['cluster0-shard-00-00.obq5u.mongodb.net:27017', 'cluster0-shard-00-02.obq5u.mongodb.net:27017', 'cluster0-shard-00-01.obq5u.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-bsj85u-shard-0', tls=True), 'youtube_scrapper'), 'Krish_naik')

In [52]:
comm={0:[1,2],1:[2,3]}

In [53]:
pd.DataFrame(comm)

   0  1
0  1  2
1  2  3

In [54]:
pd.read_json(comm)

ValueError: Invalid file path or buffer object type: <class 'dict'>